.notes:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

.notes:nth-child(odd) {
  background-color: rgb(238, 238, 238);
}

button {
  background-color: darkgrey;
  color: white;
}

button:hover {
  background-color: grey;
}

select {
  margin: 2px;
}