body {
  max-width: 800px;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.nav-row,
.note-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.align-right {
  float: right;
  margin: 0;
}

.row-item-1 {
  flex: 1 1 0;
}

.row-item-3 {
  flex: 3 1 0;
}

.row-item-spacer {
  flex: 1 1 0;
}

.row-item-double-spacer {
  flex: 2 1 0;
  padding-left: 10px;
}

.notes {
  padding: 5px 0;
}

button {
  border: none;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.2s;
  white-space: nowrap;
}

#create-note {
  padding-right: 0px;
}

select {
  margin: 2px;
}

.note-edit {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}