body {
    max-width: 800px;
    font-size: 14px;
    font-family: sans-serif;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-row>button,
.nav-row>select {
    flex: 1 1 auto;
}

button {
    background-color: darkgreen;
    border: none;
    padding: 7px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.2s;
}

button:hover {
    background-color: green;
}